link(rel="stylesheet", href="/css/bootstrap_compiled/bootstrap.css")
link(rel="stylesheet", href="/css/main.css", type="text/css", media="screen")

link(href='https://fonts.googleapis.com/css?family=Merriweather', rel='stylesheet')
