.spacer

.top
  center
    h1.title
    //  a(href='/') FineWoodworking Index
    //- h1(style="font-size: 2em;") This is a Website

.spacer

//- nav.navbar.navbar-default.navbar-static-top
//-   .container
    //- .navbar-header
    //-   button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
    //-     span.sr-only Toggle navigation
    //-     span.icon-bar
    //-     span.icon-bar
    //-     span.icon-bar
      //- a.navbar-brand(href='#') Project name
    //- #navbar.navbar-collapse.collapse
    //-   ul.nav.navbar-nav
    //-     li.active
    //-       a(href='#') Index
    //-     li
    //-       a(href='#about') Issues
    //-     li
    //-       a(href='#contact') Articles
    //-     li
    //-       a(href='#contact') Donate
    //- hr.header
    //- center
    //-   .row(style="width:320px; text-transform: capitalize;")
    //-     .col-xs-3.active
    //-       a(href='/') Index
    //-     .col-xs-3
    //-       a(href='/issues') Issues
    //-     .col-xs-3
    //-       a(href='/articles') Articles
    //-     .col-xs-3
    //-       a(href='/donate') Donate
.lower
  center
    input(type='text', placeholder="search", onfocus="this.placeholder = ''; this.select()", onblur="this.placeholder = 'search';")#filter.search
    
//-     br
//-     br
//-     #home
//-       a()#about_link about
//-       | &nbsp;&nbsp;&nbsp;&nbsp;
//-       a()#print_link print
//-       | &nbsp;&nbsp;&nbsp;&nbsp;
//-       a()#donate_link donate
//-
//- .container
//-   #about(style='display:none;')
//-     != partial("../_about")
//-   #print(style='display:none;')
//-     != partial("../_print")
//-   #donate(style='display:none;')
//-     != partial("../_donate")
//-
//-
