- if (current.source == 'index' || current.source == 'about') {
  .big-spacer
-}

.top
  center
    - if (current.source == 'index' || current.source == 'about') {
    a(href='/')
      img(src='/images/kumiko.svg', width="200px").img-hover#top-img
    -}
    h1.title
      a(href='/')  Fine Woodworking Index

- if (current.source != 'index') {
  .lower
    center
      #home
        a(href='/##{ public._data[Object.keys(public._data)[0]].issue }')#current-issue current issue
        | &nbsp; &nbsp;
        a(href='topics.html') topics (beta)
        | &nbsp; &nbsp;
        a(href='about.html') about
- }

.spacer