// Custom Variables

$blue                               : #337AB7;

/** Dinemsions **/
//$container-max-width              : 1600px;
$navbar-height                    : 20px; //23px
//$topbar-height                    : 35px;
//$filler-height                    : 50px;
//$header-height                    : 110px;
//$mobile-header-height             : $header-height;
//$margin-left                      : 50px;

//$screen-sm                        :900px !important;

//$main-body                        : white; //#fafafa
//$main-side                        : #F3FBFF;

//$menu-link                        : $logo-light-blue;
//$menu-hover                       : $logo-dark-blue;
//$menu-link-secondary              : #999;
//$menu-link-secondary-hover        : $logo-dark-blue;
//$menu-core-facility               : $menu-link;
//$menu-core-facility-hover         : $logo-dark-blue;
//$menu-link-secondary              : $menu-link;
//$menu-link-secondary-hover        : $logo-dark-blue;
//$menu-core-facility               : $menu-link;
//$menu-core-facility-hover         : $logo-dark-blue;

/** Hamburger **/
//$hamburger-color                  : $menu-link;
        
/** Header  **/
//$header-main                      : white;
//$header-side                      : $main-side;

/** Footer **/
//$footer-main                      : $bigelow-blue-white;
//$footer-side                      : $main-side;
//$footer-text                      : $logo-dark-blue;
//$footer-link                      : $logo-dark-blue;
//$footer-social-icons              : $logo-dark-blue;
//$footer-hover                     : $logo-light-blue;

/** Sidebar **/
//$sidebar-background               : $footer-main;

/** Top Bar **/
//$header-top-main                  : $blue-gray;
//$header-top-side                  : $main-side;
//$header-top-link                  : white;
//$header-top-link-hover            : $logo-light-blue;

// ALT
//$header-top-main                  : $bigelow-blue-white;
//$header-top-link                  : $logo-dark-blue;

/** Search **/
//$search-border                : blue;
$search-border-focus          : $blue;

        	
/** Nav Bar **/
$navbar-main                      : white;
$navbar-side                      : white;
//$navbar-link                      : $logo-light-blue;
//$navbar-link-hover                : $logo-dark-blue;
//$navbar-bottom-border             : $logo-light-blue;

//$navbar-default-link-active-color : $logo-dark-blue;
//$navbar-default-link-active-bg    : white;
