h1 Motivation

p When I became seriously interested in woodworking in 2013, I started reading issues of FineWoodworking Magazine from my library. It wasn't long before I subscribed and I've read every issue since. I even found a collection in my fiancée's parents garage and embarked on a reading journey. I don't just read the magazines, but use them for project plans, as many do. I often think "I know there was an article about ..." and either search through the article topics on the magazine spines or search on FineWoodworking's website. Until ####, an index was published in FineWoodworking once a year. The index sorted articles by subject, so that you could quickly find all of the articles on dovetails, or shaker furniture. FineWoodworking keept an index, called "Find Articles Fast", on their website until 2006. After it was discontinued, it became difficult to quickly find the article that I was looking for. Hello Fine Woodworking Index.

h1 Beginnings

p I started Fine Woodworking Index with the goal of creating a fast index of all FineWoodworking articles since issue one. Fast being the key. I didn't want to wade through 10 search results at a time and click on a link just to find the issue number. Fine Woodworking Index offers a real-time search of the full FineWoodworking archive.

h1 Advertisements... of lack of

p Do you see anything missing from this website? Advertisements? I don't like them and I'm sure that you don't either. I am going to keep Fine Woodworking Index ad-free. My primary goal is to provide an exceptional user experience and a website that I want to (and do) use.

h1 Donations

p I have spent quite a bit of time designing, building, and populating Fine Woodworking Index with content. I also pay for domain registration and hosting out of my pocket. Any donations would go towards hosting and maintaining this website so that everyone can continue to use it.

h1 Print Edition (future)

p One of my goals with this project is to eventually publish the missing print index of FineWooworking Magazine once a year. It would include all of the content that you can find on the website - but in print. Below, you can sign up for my newsletter. I promise to not blast you with emails - in fact, don't be surprised if you only get one message a year. I will use the email list to gauge interest in a print edition and notify users when it is in the works. 

h1 Email List

p I don't like spam so I'm not going to fill your inbox with it. Don't be surprised if you only get one or two emails a year. This is meant to 1) gauge interest in a print edition of the index and 2) communicate big changes. If you've gotten this far, it should go without saying that I would never give away, sell, or share your email address with anyone else. Again - I don't like spam or advertisements and I'm sure that you don't either.  

h1 Home Page Image - Kumiko

p For those who don't know about kumiko, it is a Japanese woodworking technique where small pieces of wood are friction-fit into a compex and beautiful design. If you haven't, I would strongly recommend reading Michael Pekovich's article in the January/February 2017 issue of FWW (259:82): Spice up your work wiht kumiko. The design that Mike uses in the article and that I use on the home page is called kakuasa. I haven't tried making kumiko yet, but it is next on my list.

h1 Instagram

p I joined Instagram in early 2016 and have been amazed at the woodworking community there. From professionals (many FineWoodworking authors) to people just starting out - it is a great place to find inspiration and see what your favorite woodworkers are up to. You can find me 
  a(href="https://www.instagram.com/kevin.c.guay/", target="_blank")@kevin.c.guay


h1 Contact

p Finally, feel free to contact me with any suggestions or comments. I manage everything from adding new articles when the next issue comes out to making sure that the web server is running smoothly. You can email me at 
   a(href='mailto:%6bevin@finewoodworkingi%6edex%2ec%6f%6d', target="_blank") kevin@finewoodworkingindex.com
   

.big-spacer