h1 Motivation

p When I became seriously interested in woodworking in 2013, I started reading issues of Fine Woodworking Magazine that I found at my local library. It wasn't long before I subscribed to the magazine and since then I’ve read every recent issue. I even found a collection in my in-law’s garage dating back to the first few issues, and embarked on a reading journey. I actively use old and new issues for project plans, as I’m sure many do. However, I found that searching for specific articles was an arduous task. Until 2006, Fine Woodworking published an index, sorted by subject, in the magazine once a year. Fine Woodworking kept an online index, called "Find Articles Fast", on their website until 2010 but after it was discontinued, it became difficult to quickly find articles. Thus for my own purpose, and for what I hope will benefit others, I created my own online index with the goal of providing a user-friendly, searchable index of all of the Fine Woodworking articles.

h1 Advertisements... or lack there of

p Do you see anything missing from this website? I don't like advertisements and I'm sure that you don't either. I am going to keep Fine Woodworking Index ad-free in order to provide an exceptional user experience.

h1 Donations

p I have spent quite a bit of time designing, building, and populating Fine Woodworking Index with content. I pay for the domain registration and hosting out of my pocket. Any donations would go towards hosting, maintaining, and improving this website so that everyone can continue to use it.

script(src='https://checkout.stripe.com/checkout.js')
button#donate_one $1
button#donate_ten $10

h1 Print Edition (future goal)

p One of my goals is to publish a yearly index of Fine Wooworking Magazine that could be purchased. It would include all of the content that you can find on the website. Below, you can sign up for the email list which I will use to gauge interest in a print edition and notify users when it is in the works.

h1 Email List

p I don't like spam so I'm not going to fill your inbox with it. This list is meant to 1) gauge interest in a print edition of the index and 2) to communicate big changes. I would never give away, sell, or share your email address with anyone else. 

h1 Home Page Image - Kumiko

p For those who don't know about kumiko, it is a Japanese woodworking technique where small pieces of wood are friction-fit into a complex and beautiful design. If you haven't, I would strongly recommend reading Michael Pekovich's article in the January/February 2017 issue of FWW (259:82): Spice up your work with kumiko. The design that Mike uses in the article and that I use on the home page is called kakuasa. I haven't tried making kumiko yet, but it is next on my list.

h1 Instagram

p I joined Instagram in early 2016 and have been amazed at the woodworking community there. From professionals (many FineWoodworking authors) to hobbyists just starting out - it is a great place to find inspiration and see what your favorite woodworkers are up to. You can find me 
  a(href="https://www.instagram.com/kevin.c.guay/", target="_blank")@kevin.c.guay
  | &nbsp;and 
  a(href="https://www.instagram.com/finewoodworkingindex/", target="_blank")@finewoodworkingindex

h1 Contact

p Feel free to contact me with any suggestions or comments. I manage everything from adding new articles when new issues come out to making sure that the web server is running smoothly. You can email me at 
   a(href='mailto:%6bevin@finewoodworkingi%6edex%2ec%6f%6d', target="_blank") kevin@finewoodworkingindex.com


.big-spacer

script.
  var handler = StripeCheckout.configure({
    key: 'pk_test_qHSHrVaUUKoMFkMn2n95Lhu7',
    image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
    locale: 'auto',
    token: function(token) {
      // You can access the token ID with `token.id`.
      // Get the token ID to your server-side code for use.
    }
  });
  
  document.getElementById('donate_one').addEventListener('click', function(e) {
    // Open Checkout with further options:
    handler.open({
      image: '/images/kumiko.svg',
      name: 'Fine Woodworking Index',
      description: 'Donation',
      amount: 100,
      zipCode: true
    });
    e.preventDefault();
  });
  
  document.getElementById('donate_ten').addEventListener('click', function(e) {
    // Open Checkout with further options:
    handler.open({
      image: '/images/kumiko.svg',
      name: 'Fine Woodworking Index',
      description: 'Donation',
      amount: 1000,
      zipCode: true
    });
    e.preventDefault();
  });
  
  // Close Checkout on page navigation:
  window.addEventListener('popstate', function() {
    handler.close();
  });