h1 Issue Index

table.table.table-hover
  thead
    tr
      th Title
      th Author
      th Issue
      th Year
      th Page
  
  tdbody
    tr
      td This is a title
      td Kevin Guay
      td 243
      td 2013
      td 43
    tr
      td A title this is one
      td Chris Becksvoort
      td 102
      td 2003
      td 52