svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0', y='0', width='200', height='105', viewbox='0, 0, 401.274, 211.212')
  g#Background
    rect(x='0', y='0', width='401.274', height='211.212', fill='#FFFFFF')
  g#Layer_1
    g
      path(d='M15.661,13.501 L200.872,13.501 L200.872,198.712 L15.661,198.712 L15.661,13.501 z', fill-opacity='0', stroke='#8D6E63', stroke-width='6')
      path(d='M13.5,106.106 L203.033,106.106', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
      path(d='M108.266,198.712 L108.266,13.501', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
      path(d='M15.661,198.712 L200.872,13.501', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
      path(d='M17.204,15.044 L199.329,197.168', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
      g
        path(d='M111.353,15.043 L129.257,32.947', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
        path(d='M129.257,32.947 L108.266,106.106', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
        path(d='M129.257,32.947 L199.329,15.043', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
      g
        path(d='M18.748,106.106 L36.651,124.01', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
        path(d='M36.651,124.01 L15.661,197.168', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
        path(d='M36.651,124.01 L106.723,106.106', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
      g
        path(d='M196.242,104.562 L178.338,86.658', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
        path(d='M178.338,86.658 L199.329,13.5', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
        path(d='M178.338,86.658 L108.266,104.562', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
      g
        path(d='M105.18,197.168 L87.276,179.265', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
        path(d='M87.276,179.265 L108.266,106.106', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
        path(d='M87.276,179.265 L17.204,197.168', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
      g
        path(d='M106.723,16.587 L88.819,34.491', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
        path(d='M88.819,34.491 L15.661,13.5', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
        path(d='M88.819,34.491 L106.723,104.562', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
      g
        path(d='M199.329,109.193 L181.425,127.097', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
        path(d='M181.425,127.097 L108.266,106.106', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
        path(d='M181.425,127.097 L199.329,197.168', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
      g
        path(d='M108.266,194.082 L126.17,176.178', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
        path(d='M126.17,176.178 L199.329,197.168', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
        path(d='M126.17,176.178 L108.266,106.106', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
      g
        path(d='M17.204,103.019 L35.108,85.115', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
        path(d='M35.108,85.115 L108.266,106.106', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
        path(d='M35.108,85.115 L17.204,15.043', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
    g
      path(d='M201.402,13.501 L386.614,13.501 L386.614,198.712 L201.402,198.712 L201.402,13.501 z', fill-opacity='0', stroke='#8D6E63', stroke-width='6')
      path(d='M199.242,106.106 L388.774,106.106', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
      path(d='M294.008,198.712 L294.008,13.501', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
      path(d='M201.402,198.712 L386.614,13.501', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
      path(d='M202.946,15.044 L385.07,197.168', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
      g
        path(d='M297.095,15.043 L314.999,32.947', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
        path(d='M314.999,32.947 L294.008,106.106', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
        path(d='M314.999,32.947 L385.07,15.043', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
      g
        path(d='M204.489,106.106 L222.393,124.01', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
        path(d='M222.393,124.01 L201.403,197.169', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
        path(d='M222.393,124.01 L292.465,106.106', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
      g
        path(d='M381.983,104.562 L364.08,86.658', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
        path(d='M364.08,86.658 L385.07,13.5', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
        path(d='M364.08,86.658 L294.008,104.562', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
      g
        path(d='M290.921,197.169 L273.017,179.265', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
        path(d='M273.017,179.265 L294.008,106.106', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
        path(d='M273.017,179.265 L202.946,197.169', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
      g
        path(d='M292.465,16.587 L274.561,34.491', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
        path(d='M274.561,34.491 L201.403,13.5', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
        path(d='M274.561,34.491 L292.465,104.562', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
      g
        path(d='M385.07,109.193 L367.167,127.097', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
        path(d='M367.167,127.097 L294.008,106.106', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
        path(d='M367.167,127.097 L385.07,197.169', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
      g
        path(d='M294.008,194.082 L311.912,176.178', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
        path(d='M311.912,176.178 L385.07,197.169', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
        path(d='M311.912,176.178 L294.008,106.106', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
      g
        path(d='M202.946,103.019 L220.85,85.115', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
        path(d='M220.85,85.115 L294.008,106.106', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
        path(d='M220.85,85.115 L202.946,15.043', fill-opacity='0', stroke='#8D6E63', stroke-width='6').piece
